{
    "appNameOrID": "{{service_monitor_appname}}",
    "controllerHost": "{{ controller_host_name }}",
    "OAuthToken": "{{ service_monitor_oauthtoken }}",

    "EnableLogging": "{{ service_monitor_enable_logging }}",
    "EnableEvents": "{{ service_monitor_enable_events }}",
    "MonitoredServicesList": [
        {
            "Services": {{ service_monitor_services }}
        }
    ]
}